<div class="row justify-content-center" style="margin-top: 150px;">
    <div class="col-6">
  
      <div class="authBlock">
        <h3>Mot de passe oublié</h3>
  
        <div class="formGroup">
          <input type="email" class="form-control" style="margin-bottom: 10px;" placeholder="Adresse e-mail" #passwordResetEmail required>
        </div>
  
        <div class="formGroup">
          <input type="submit" class="btn btn-primary btn-block" value="Reset Password"
            (click)="ngAuthService.ForgotPassword(passwordResetEmail.value)">
        </div>
      </div>
  
    </div>
</div>