
<nav class="navbar navbar-expand-lg navbar-light justify-content-center" style="background-color: white;">
    <div class="navbar-nav">
        <li routerLinkActive="active" *ngIf="ngAuthService.userState as user">
            <a routerLink="books" class="nav-item nav-link">Livres</a>
        </li>
        <li routerLinkActive="active">
            <a routerLink="sign-up" class="nav-item nav-link">Créer un compte</a>
        </li>
        <li routerLinkActive="active" *ngIf="!ngAuthService.userState as user">
            <a routerLink="sign-in" class="nav-item nav-link">Connexion</a>
        </li>
        <li routerLinkActive="active" *ngIf="ngAuthService.userState as user">
            <a routerLink="dashboard" class="nav-item nav-link">Dashboard</a>
        </li>
        <li routerLinkActive="active" *ngIf="ngAuthService.userState as user">
            <button class="btn btn-danger justify-content-end" (click)="ngAuthService.SignOut()">
                Sign Out
            </button>
        </li>
    </div>
</nav>