
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: whitesmoke;">
    <div class="navbar-nav">
        <a class="navbar-brand" style="margin-left: 80px; margin-right: 70px;" href="/books">
            <img src="favicon.ico" width="30" height="30" class="d-inline-block align-top" alt="">
            BooksApp
        </a>
        <li routerLinkActive="active" *ngIf="ngAuthService.userState as user">
            <a routerLink="books" class="nav-item nav-link">Livres</a>
        </li>
        <li routerLinkActive="active">
            <a routerLink="sign-up" class="nav-item nav-link">Créer un compte</a>
        </li>
        <li routerLinkActive="active" *ngIf="!ngAuthService.userState as user">
            <a routerLink="sign-in" class="nav-item nav-link">Connexion</a>
        </li>
        <li routerLinkActive="active" *ngIf="ngAuthService.userState as user">
            <a routerLink="dashboard" class="nav-item nav-link">Dashboard</a>
        </li>
        <li routerLinkActive="active" *ngIf="ngAuthService.userState as user">
            <button class="btn btn-danger" (click)="ngAuthService.SignOut()">
                Sign Out
            </button>
        </li>
    </div>
</nav>