<div class="container">
    <div class="row">
        <h1 class="text-center" style="padding-bottom: 60px; padding-top: 60px;">Mes livres</h1>
        <h2 class="text-center" *ngIf="!user.bookids">Vous n'avez pas de livre</h2>
        <div class="col text-center" *ngFor="let bookids of user.bookids; let idbookindex = index">
            <app-user-book-item [user]="bookids"></app-user-book-item>
            <button class="btn btn-danger" *ngIf="bookids" (click)="removeBook(idbookindex)">
                <span class="glyphicon glyphicon-minus text-center">Supprimer le livre</span>
            </button>
        </div>
    </div>
</div>
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
