<div class="container">
    <div class="row">
        <h1 class="text-center" style="padding-bottom: 60px; padding-top: 60px;">Livres</h1>
        <div class="col text-center" *ngFor="let book of books; let i = index">
            <div (click)="onViewBook(i)">
                <app-book-item [book]="book"></app-book-item>
            </div>
            <button *ngIf="user.bookids && !user.bookids.includes(idbook[i])" class="btn btn-primary" (click)="addidbooktoUser(i.toString())">Ajouter le livre</button>
            <button *ngIf="!user.bookids" class="btn btn-primary" (click)="addidbooktoUser(i.toString())">Ajouter le livre</button>
            <button class="btn btn-danger" (click)="onDeleteBook(i)" *ngIf="this.user.email == 'ghaziatie@gmail.com'">
                <span class="glyphicon glyphicon-minus"></span>
            </button>
        </div>
    </div>
    <div style="padding-top: 30px; padding-bottom: 30px;" *ngIf="this.user.email == 'ghaziatie@gmail.com'">
        <button class="btn btn-primary" (click)="onNewBook()">Ajouter un livre</button>
    </div>
</div>
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
