<div class="container">
    <div class="row justify-content-center" style="margin-top: 150px;" *ngIf="book">
        <h1 class="text-center">Titre du livre: {{ book.title }}</h1>
        <h2 class="text-center">Auteur: {{ book.author }}</h2>
    </div>
    <div class="text-center" style="margin-top: 10px;" *ngIf="book">
        <img *ngIf="book.url" [src]="book.url" style="max-height: 300px;">
    </div>
    <div class="text-center" style="margin-top: 10px;">
        <button class="btn btn-primary" style="margin-right: 10px;"(click)="onBack()">Retour</button>
        <button class="btn btn-primary"  style="margin-right: 10px;" (click)="editBook()" *ngIf="this.user.email == 'ghaziatie@gmail.com'">Modifier contenu</button>

        <button *ngIf="user.bookids && !user.bookids.includes(idbook[id])" class="btn btn-primary" (click)="addidbooktoUser(id)">Ajouter le livre</button>
        <button *ngIf="user.bookids.includes(idbook[id])" class="btn btn-danger" (click)="delbook(idbook[id])">Supprimer le livre</button>
    <div>
</div>
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
