<div class="container">
    <div class="row justify-content-center" style="margin-top: 150px;" *ngIf="book">
        <h1 class="text-center">Titre du livre: {{ book.title }}</h1>
        <h2 class="text-center">Auteur: {{ book.author }}</h2>
    </div>
    <div class="text-center" style="margin-top: 10px;" *ngIf="book">
        <img *ngIf="book.url" [src]="book.url" style="max-height: 300px;">
    </div>
    <div class="text-center" style="margin-top: 10px;">
        <button class="btn btn-primary" style="margin-right: 10px;"(click)="onBack()">Retour</button>
        <button class="btn btn-primary" (click)="editBook()">Modifier contenu</button>

        <div *ngIf="checkdoublebook == false;then add_book_user else delete_book_user"></div>
        <ng-template #add_book_user>
            <button class="btn btn-primary" (click)="addidbooktoUser()" style="margin-left: 10px;">Ajouter le livre</button>
        </ng-template>
        <ng-template #delete_book_user>
                <button class="btn btn-danger" (click)="delbook(id)" style="margin-left: 10px;">Supprimer le livre</button>
        </ng-template>
    </div>
</div>